.title {
    text-align: center;
    padding-bottom: 10px;
}

.price {
    text-align: center;
    padding-top: 10px;
}

.icon {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
}

.player {
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50%;
}

.Card {
    position: relative;
}